body {
    margin: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.326);
    animation: floorChange 3s infinite;
}

#score {
    position: fixed;
    color: white;
    top: 20px;
    right: 20px;
    font-size: 40px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    z-index: 1000;
}

#timer {
    position: fixed;
    color: white;
    top: 60px;
    right: 20px;
    font-size: 40px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    z-index: 1000;
}

.garbage {
    position: absolute;
    max-width: 150px;
    max-height: 150px;
    cursor: pointer;
    user-select: none;
}

@keyframes floorChange {
    0% { background-color: rgba(0, 0, 0, 0.226); }
    50% { background-color: rgba(0, 0, 0, 0.326); }
    100% { background-color: rgba(0, 0, 0, 0.226); }
}